# .gitconfig

[core]
    autocrlf = input

[alias]
    prettylog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[merge]
    ff = only

[push]
    default = matching

[fetch]
    prune = true

[rebase]
    autosquash = true

[color]
    ui = auto
